.env
__pycache__/main.cpython-312.pyc
app/__pycache__
output.txt
chroma_store
database/__pycache__/database_functions.cpython-312.pyc
scraped_data
app/utils/__pycache__
database/__pycache__
instruction_filler.py
final_instructions.txt
